## Correlate Spec Params & ERP measures

### Merge exp results with param results

In [19]:
# Define paths
REPO_PATH = r"C:\Users\micha\projects\v1_v4_1024_elec" # set this
PROJECT_PATH = r'G:\Shared drives\v1_v4_1024'

In [2]:
# general
import pandas as pd

In [81]:
# load dfs
erp_params_df = pd.read_csv(r'G:\Shared drives\v1_v4_1024\data\results\max_erp_params_df.csv', index_col=0)
spec_params_df = pd.read_csv(fr"{PROJECT_PATH}\data\results\lfp_spectral_params.csv", index_col=0)

In [82]:
spec_params_df

           session  channel  chan_idx  array epoch       exp        r2
0     A_SNR_140819        0         0      1   pre  3.660094  0.998489
1     A_SNR_140819        1         1      1   pre  3.641594  0.998853
2     A_SNR_140819        2         2      1   pre  3.096264  0.994847
3     A_SNR_140819        3         3      1   pre  3.603246  0.998999
4     A_SNR_140819        4         4      1   pre  3.485834  0.998878
...            ...      ...       ...    ...   ...       ...       ...
4091  L_SNR_250717       59      1019     16  post  2.765816  0.998221
4092  L_SNR_250717       60      1020     16  post  2.800549  0.999511
4093  L_SNR_250717       61      1021     16  post  2.944253  0.999020
4094  L_SNR_250717       62      1022     16  post  3.043717  0.998485
4095  L_SNR_250717       63      1023     16  post  2.702236  0.998662

[4096 rows x 7 columns]

In [83]:
erp_params_df = erp_params_df.drop(["session.1","channel.1","array.1"], axis=1)
erp_params_df

,array,channel,peak_index,latency,amp,amp_abs,width
session,,,,,,,
A_SNR_140819,1,0,6,465,65.528083,65.528083,45.512269
A_SNR_140819,1,1,5,465,66.172736,66.172736,42.108815
A_SNR_140819,1,2,8,465,54.551556,54.551556,38.914670
A_SNR_140819,1,3,6,465,56.616983,56.616983,37.975628
A_SNR_140819,1,4,5,465,63.665214,63.665214,34.674607
...,...,...,...,...,...,...,...
L_SNR_250717,16,59,7,426,159.296016,159.296016,163.918224
L_SNR_250717,16,60,5,425,169.573607,169.573607,203.335552
L_SNR_250717,16,61,6,424,192.865965,192.865965,203.407787
L_SNR_250717,16,62,5,424,184.207147,184.207147,206.622957
L_SNR_250717,16,63,6,494,152.446764,152.446764,179.370317

In [84]:
spec_params_df = spec_params_df.loc[spec_params_df["epoch"]=="post"]
spec_params_df

           session  channel  chan_idx  array epoch       exp        r2
1024  A_SNR_140819        0         0      1  post  4.409638  0.999214
1025  A_SNR_140819        1         1      1  post  4.448360  0.999085
1026  A_SNR_140819        2         2      1  post  4.079099  0.999065
1027  A_SNR_140819        3         3      1  post  4.603642  0.998497
1028  A_SNR_140819        4         4      1  post  4.313483  0.999089
...            ...      ...       ...    ...   ...       ...       ...
4091  L_SNR_250717       59      1019     16  post  2.765816  0.998221
4092  L_SNR_250717       60      1020     16  post  2.800549  0.999511
4093  L_SNR_250717       61      1021     16  post  2.944253  0.999020
4094  L_SNR_250717       62      1022     16  post  3.043717  0.998485
4095  L_SNR_250717       63      1023     16  post  2.702236  0.998662

[2048 rows x 7 columns]

In [85]:
# merge dataframes
results_df = pd.merge(left=erp_params_df, right=spec_params_df, on= ["session", "array", "channel"])
results_df

,session,array,channel,peak_index,latency,amp,amp_abs,width,chan_idx,epoch,exp,r2
0,A_SNR_140819,1,0,6,465,65.528083,65.528083,45.512269,0,post,4.409638,0.999214
1,A_SNR_140819,1,1,5,465,66.172736,66.172736,42.108815,1,post,4.448360,0.999085
2,A_SNR_140819,1,2,8,465,54.551556,54.551556,38.914670,2,post,4.079099,0.999065
3,A_SNR_140819,1,3,6,465,56.616983,56.616983,37.975628,3,post,4.603642,0.998497
4,A_SNR_140819,1,4,5,465,63.665214,63.665214,34.674607,4,post,4.313483,0.999089
...,...,...,...,...,...,...,...,...,...,...,...,...
2043,L_SNR_250717,16,59,7,426,159.296016,159.296016,163.918224,1019,post,2.765816,0.998221
2044,L_SNR_250717,16,60,5,425,169.573607,169.573607,203.335552,1020,post,2.800549,0.999511
2045,L_SNR_250717,16,61,6,424,192.865965,192.865965,203.407787,1021,post,2.944253,0.999020
2046,L_SNR_250717,16,62,5,424,184.207147,184.207147,206.622957,1022,post,3.043717,0.998485
2047,L_SNR_250717,16,63,6,494,152.446764,152.446764,179.370317,1023,post,2.702236,0.998662